* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}

nav {
    background: linear-gradient(90deg, #421a60, #6d2d9e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#nav-right {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem;
    margin-left: 0px;
    margin-right: 10%;
}

ul {
    list-style: none;
}

#nav-left {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 5%;
}

#nav-right li {
    margin: 0rem .5rem 0rem .5rem;
}

#nav-right li a {
    color: #ad9fb8;
    text-decoration: none;
    font-size: 1.2rem;
    
}

#hero {
    background-image: url('./public/horses.jpg');
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#hero h1 span {
    font-size: 4rem;
}

#hero a {
    background-color: #6d2d9e;
    border-radius: 4rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    margin: .5rem;
    color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




