* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none;
}

body {
    margin: 0px;
}

nav {
    background: linear-gradient(90deg, #421a60, #6d2d9e);
    display: flex;
    flex-direction: column;
}

nav div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

@media only screen and (min-width: 568px) {
    nav ul {
        display: none;
    }
}

nav ul li a {
    color: #ad9fb8;
    text-decoration: none;
    font-size: 1rem;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    margin: 1.2rem;
    margin-left: 0px;
    margin-right: 10%;
    list-style: none;
}


#nav-left {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 5%;
}

#nav-right img {
    display: none;
    height: 2rem;
    align-self: center;
    filter: invert(72%) sepia(4%) saturate(1343%) hue-rotate(231deg) brightness(91%) contrast(89%);
}

@media only screen and (max-width: 568px){
    #nav-right img {
        display: inline-block;
    }
}

#nav-right li {
    margin: 0rem .5rem 0rem .5rem;
}

@media only screen and (max-width: 568px) {
    #nav-right li {
        display: none;
    }
}

#nav-right li a {
    color: #ad9fb8;
    text-decoration: none;
    font-size: 1.2rem;
}

@media only screen and (max-width: 960px) {
    #nav-right li a {
        font-size: 1rem;
    }
}

#hero {
    background-image: url('./public/horses.jpg');
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#hero h1 span {
    font-size: 4rem;
}

#hero a {
    background-color: #6d2d9e;
    border-radius: 4rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    margin: .5rem;
    color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#home-about {
    background: rgb(101,101,101);
    background: radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(48,48,48,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-about h2 {
    color: white;
    font-size: 3rem;
}

#home-about img {
    border-radius: 1rem;
    box-shadow: 20px 10px;
}

@media only screen and (max-width: 680px) {
    #home-about img {
        width: 300px;
    }
}

#home-about ul {
    max-width: 566px;
    color: white;
    font-size: 1.5rem;
    background-color: #6d2d9e;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#home-about a {
    background-color: #6d2d9e;
    border-radius: 4rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    margin: .5rem;
    color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#sponsors {
    background-image: url('./public/wyatt.jpg');
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#sponsors h2 {
    font-size: 3rem;
}

#sponsors>img {
    border-radius: 1em;
}

.cat-div {
    display: flex;
    flex-wrap: wrap;
}

.cat-div a{
    background-color: white;
    max-height: 50px;
    max-width: 150px;
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 1em;
}

.cat-div a img {
    max-height: 50px;
    max-width: 150px;
    border-radius: 1em;
}

.cat-div>div {
    background-color: #6d2d9e;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 1em;
}




