footer {
    background: linear-gradient(90deg, #421a60, #6d2d9e);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10% 5% 10%;
    min-height: 400px;
  }
  
  footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 660px) {
    footer > div {
      flex-direction: column;
      gap: 15px;
    }
  }
  
  #footer-nav {
    color: white;
    font-size: 1.2rem;
  }
  
  #footer-nav > ul {
    list-style-type: none;
  }
  
  #footer-nav > ul > li > a {
    color: #ad9fb8;
    text-decoration: none;
    font-size: 1rem;
  }
  
  #footer-mail {
    color: #ad9fb8;
    font-size: 1rem;
  }
  
  #footer-mail > span {
    color: white;
    font-size: 1.2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(170px, 250px, 400px);
  }
  
  form > span {
    color: white;
    font-size: 1.2rem;
  }
  
  form > input {
    border-radius: 5px;
    border: solid;
  }
  
  form > textarea {
    overflow: auto;
    min-height: 100px;
    border-radius: 5px;
    border: solid;
  }
  
  form > button {
    max-width: 100px;
    min-height: 22px;
    color: black;
    border: solid black;
    border-radius: 5px;
    background-color: #ad9fb8;
    cursor: pointer;
  }
  
  footer > div > p {
    color: #ad9fb8;
  }
  
  footer > div > p > a {
    color: #ad9fb8;
  }